// -----------------------------------------------------------------------------
// Color Palette
// -----------------------------------------------------------------------------

$black: #2e2e2e;
$black-two: #333333;
$black-three: #343a40;
$brown-grey: #999999;
$dark-grey: #545551;
$light-grey: #f2f2f2;
$white: #f6f6f6;
$yellow: #e9c46a;
$light-blue: #91a7ff;
$dark-blue: #495057;
$primary-green: #65a605;
$lime-green: #dded9a;
$danger: #ff7171;

// -----------------------------------------------------------------------------
// Font Family
// -----------------------------------------------------------------------------

$font-raleway: "Raleway",
sans-serif;
$font-lora: "Lora",
sans-serif;
$font-bungee: "Bungee Shade",
sans-serif;